* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.heading {
    font-size: 4rem;
    text-align: center;
    padding: 1rem 0 3rem;
}
.steps {
    display: flex;
    gap: 30px;
    justify-content: center;
}
.step {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.btn {
    border: none;
    transition: .3s ease-out;
    font-size: 1.1rem;
    padding: 15px 15px;
    cursor: pointer;
    border-radius: 5px;
}
.btn:hover {
    transform: scale(1.03);
}
.btn:active {
    transform: scale(.94);
}
.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.red:hover {
    background-color: rgb(231, 0, 0);
}
.yellow:hover {
    background-color: rgb(245, 245, 0);
}
.blue:hover {
    background-color: rgb(0, 0, 236);
}
.green:hover {
    background-color: rgb(0, 111, 0);
}
.subHeading {
    font-size: 2rem;
    padding: 4rem 0 2rem ;
    text-align: center;
}
.moves {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inner {
    width: 70vw;

}
.allMoves {
    font-size: 1.3rem;
    line-height: 2rem;
}