* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.parent {
    width: 85vw;
    margin-inline: auto;
}

.main-heading {
    font-size: 2.7rem;
    text-align: center;
    margin: 2rem 0 3rem;
}



/** Basic Props */
.basic-props {
    display: flex;
    flex-direction: column;
    gap: 30px;

    box-shadow: 2.5px .5px 6px 0px rgb(149, 149, 149);
    border-radius: 50px;
    margin: 2rem 0;
    padding: 3rem;
}
.btn {
    padding: 12px 30px;
    border-radius: 12px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: .4s ease-out;
    font-weight: 400;
    border: 1px solid;
    font-weight: 500;
}
.btn:hover {
    filter: brightness(.92);
    transform: scale(1.02);
}
.btn:active {
    transform: scale(0.97);
}
.parts {
    display: flex;
    flex-direction: column;
}
.btn-part {
    display: flex;
    align-items: center;
    gap: 10px;
}

.part-heading {
    font-weight: 500;
    margin-bottom: 1rem;
}
.count {
    background-color: rgb(231, 241, 255);
    padding: 15px;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 500;
}

/** Ref prop  */
.input {
    border: none;
    box-shadow: 0 0 0 1px gray;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    width: 30%;

}
.input:hover {
    box-shadow: 0 0 0 1px black;
}
.form {
    gap: 30px;
}

/** Children prop  */
.wrapper-childrencard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.card-ul {
    list-style-type: none;
    font-size: 1rem;

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card-li {
    display: flex;
}
.children-card {
    border-left: 5px solid;
    padding: 1.5rem;
    border-radius: 15px;
    
}
.childrenBtn {
    width: 80%;
    display: block;
    margin-bottom: 15px;
}


/** heading subheading  */
.intro {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 15px;
}

/** Complex props  */
.outer-complex {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
}
.inner-complex {
    padding: 1.5rem 3rem;
    border-radius: 20px;
}
.first {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}
.icon {
    border-radius: 100%;
    padding: 15px ;
    font-size: 2rem;
}
.second-halfof-first {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.first-btns {
    padding: 6px 15px;
    border: none;
    border-radius: 20px;
    margin-top: 5px;
    transition: .3s ease-out;
    cursor: pointer;
}
.first-btns:hover {
    filter: brightness(95%);
    transform: scale(1.02);

}
.buttons-of-first-half {
    display: flex;
    gap: 5px;
}
.aliceBtnColor {
    background-color: rgb(158, 210, 255);
}
.bobBtnColor {
    background-color: green;
}
.hr {
    margin: 2rem 0;
}
.second {
    display: flex;
    justify-content: space-around;

    margin-bottom: 2rem;
}
.second-parts {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.third {
    display: flex;
    gap: 10px;
}
.num {
    font-weight: 500;
}

/** Navbar  */
.navbar {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0 3.5rem;

    position: sticky;
    top: 2rem;
    
}
.navBtns {
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 1px .8px 0px 1.5px black ;
    border: none;
    text-decoration: none;

    
}
.navBtns:hover {
    box-shadow: 2px 2.5px 0px 1.5px black ;
    background-color: rgba(255, 255, 255, 0.364);
}


