* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.heading {
    font-size: 3.5rem;
    padding: 2rem 0 .8rem;
    font-weight: 300;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.instruction {
    font-size: 1rem;
    font-weight: 300;
}
.btn {
    padding: 10px 20px;
    margin: 2.5rem 0 2rem;
    border: none;
    box-shadow: 0 0 0 1px black;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.248);
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: .3s ease-out;
}
.btn:hover {
    transform: scale(1.02);
    background-color: rgba(128, 128, 128, 0.316);
}
.btn:active {
    transform: scale(.95);
}
.info {
    display: none;
}
.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.common {
    font-weight: 300;
    font-size: 1.4rem;
}
.result {
    font-weight: 400;
    box-shadow: 0 0 0 1px rgb(0, 95, 0);
    padding: 10px 20px;
    font-style: italic;
    margin: 10px;
}
.attemps {
    font-weight: 500;
    color: green;
}